:root {
	--width-sidebar: 50px;
	--height-overlay-upgrade: 90px;
	--height-player: 90px;
}

@media screen and (min-width: 600px) {
	:root {
		--width-sidebar: 230px;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.container {
	height: 100vh;
}

.sidebar {
	background-color: aqua;
}

.main-content {
	background-color: #141922;
}

.main-content .content {
	margin-top: var(--height-overlay-upgrade);
	padding: 1rem;
}

.player {
	background-color: violet;
	z-index: 9;
}

.overlay-upgrade {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	/* width: calc(100% - var(--width-sidebar)); */
	height: var(--height-overlay-upgrade);
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 5;
}

.sidebar {
	overflow: hidden;
	z-index: 7;
}

.main-content {
	overflow-y: auto;
}


/****************************************************/
/*               Layout: POSITION HEAVY             */
/****************************************************/

.sidebar,
.main-content {
	position: fixed;
	top: 0;
	bottom: var(--height-player);
}

.sidebar {
	left: 0;
	width: var(--width-sidebar);
}

.main-content {
	right: 0;
	left: var(--width-sidebar);
}

.player {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	height: var(--height-player);
}

/* griglia */

.grid {
	--cols: 2;
	--gap: 1rem;

	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
}

.card	{
	height: 200px;
	background-color: salmon;
	flex: 0 0 calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
	/* flex: 0 0 calc((100% - 1 * 1rem) / 2); */
}

@media (min-width: 700px) {
	.grid {
		--cols: 4;
	}

	/* .card	{
		flex: 0 0 calc((100% - 3 * 1rem) / 4);
	} */
}

@media (min-width: 1100px) {
	.grid {
		--cols: 6;
	}

	/* .card	{
		flex: 0 0 calc((100% - 5 * 1rem) / 6);
	} */
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

nav li {
	padding: 1rem 1.5rem;
	position: relative;
}

nav li.active::after {
	content: "";
	display: block;
	position: absolute;
	right: 35%;
	bottom: 0;
	left: 35%;
	height: 5px;
	background-color: greenyellow;
}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

nav a:hover {
	text-decoration: underline;
}